

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8a5c5c;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

section {
    margin: 20px;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
}

form {
    text-align: left;
    margin: auto;
    width: 300px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
}


@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
    header,
    section,
    footer {
        padding: 10px;
    }
}

